---
const platform = "github";
const username = "Kohei-Wada";
---

<footer>
    <p>My github: 
        <a href={`https://${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">
            {username}
        </a>
</footer>
